# .env.example
# 应用名称
VITE_APP_NAME=ViVa AI助手
# 微信客服
VITE_WECHAT_SUPPORT=viva-api
# 更多详情链接
VITE_MORE_DETAILS_LINK=https://ai.feishu.cn/wiki/O6Q9wrxxci898Wkj6ndcFnlknJd?from=from_copylink
# 案例链接
VITE_CASES_LINK=https://my.feishu.cn/wiki/LIEvwzn0jipQ4PkF0dkc57I2njh?from=from_copylink
# 官网链接
VITE_MAIN_SITE_LINK=https://www.vivaapi.cn
# 汇率/价格系数 (默认0.7)
VITE_EXCHANGE_RATE=0.7
# API 接口地址
VITE_BASE_URL=https://www.vivaapi.cn
